/* styles.css */

.header {
    display: flex;
    align-items: center;
    background-color: #0366d6; /* Ajusta al color azul que prefieras */
    padding: 20px;
    color: white;
}

.profile-image {
    width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 20px;
}

h1, p {
    margin: 0;
}
